#
#  ___                              _    ___                       _
# | _ \__ _ _______ __ _____ _ _ __| |  / __|___ _ _  ___ _ _ __ _| |_ ___ _ _
# |  _/ _` (_-<_-< V  V / _ \ '_/ _` | | (_ / -_) ' \/ -_) '_/ _` |  _/ _ \ '_|
# |_| \__,_/__/__/\_/\_/\___/_| \__,_|  \___\___|_||_\___|_| \__,_|\__\___/_|
#
# JavaScript Password Generator (jspassgen)
# https://jspassgen.com/
#
# Copyright © 2022-2026 JavaScript Password Generator (jspassgen). All rights reserved.
# SPDX-License-Identifier: Apache-2.0 OR MIT
#

registry=https://registry.npmjs.org/
