name: "Coveralls"

on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - "*"

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
      - run: echo ${{github.ref}}

      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Lint fix
        run: pnpm run lint:fix

      - name: Run prettier
        run: pnpm run format

      - name: Run remark
        run: pnpm run lint:markdown

      - name: Build
        run: pnpm run build

      - name: Testing & Coverage
        run: pnpm run test

      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          base-path: /
          flag-name: pm2md
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel: true
          path-to-lcov: ./coverage/lcov.info
